@charset "utf-8";

/*
webページのカラー設定
*/

body {
    background-color: rgb(223, 252, 92);
}

/*
余計な余白を消す
*/

ul {
    padding: 0;
}

/*
見やすいように、ページの周りに余白を設定
*/

.container {
    margin: 100px 30px;
}

/*
.gridをdisplay:flexにする
*/

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/*
それぞれのレイアウトの比率を設定
(!!! 調べながら書いてみましたが、もっと簡単な表現があると思うので、時間がある時に
試してみたいと思います...)
*/

.grid-col-2 > .grid-item {
    width: calc(50% - 5px);
}

.grid-col-4 > .grid-item {
    width: calc(25% - 7.5px);
}

.grid-col-6 > .grid-item {
    width: calc((100% / 6) - (10px * 5 / 6));
}

/*
レイアウトのダミーを作成
*/

.grid-item {
    list-style: none;
    background-color: #4052f5;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 8px;
    font-size: 32px;
}

/*
フォームのレイアウト作成
*/

.form-container {
}
.signin-headline {}
.form {
    display: flex;
    flex-direction: column;
}
.email-form, .password-form {
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 10px 0 20px 0;
}
.sign-in-btn {
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4052f5;
    color: #fff;
}
.btn-link {
    text-decoration: none;
}
.sign-up {}